<nav id="navbar-style" class="navbar navbar-expand-lg navbar-light bg-light">
<a id="nav-title" class="navbar-brand" routerLink="/">AIRLINE RESERVATION SYSTEM</a><img src="">
<div class="collapse navbar-collapse" id="nav-list">
  <ul  class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <!--
    <li class="nav-item">
      <div><h2 style="color:rgb(17, 145, 75)">{{username}}</h2></div>
    </li>
    <li class="nav-item">
      <button class="btn btn-info" (click)="logoutFunction()" id="logoutBtn">Logout</button>
    </li> -->

  </ul>
</div>
</nav>
