<div class="container-fluid">
  <h4 id="title" class="line-titles">Lightning Airlines Reservation System</h4>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="flyingFromInput" class="line-titles">
            Flying From:
          </label>
          <input type="text"
                 class="form-control"
                 id="flyingFromInput"
                 formControlName="origin"
                 placeholder="Origin Airport">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="flyingToInput" class="line-titles">
            Flying To:
          </label>
          <input type="text" class="form-control"
                 id="flyingToInput"
                 formControlName="destination"
                 placeholder="Destination Airport">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="departDateInput" class="line-titles">
            Departing
          </label>
          <input type="date" class="form-control"
                 id="departDateInput"
                 formControlName="depart_date"
                 placeholder="Departure Date">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="returnDateInput" class="line-titles">
            Returning
          </label>
          <input type="date"
                 class="form-control"
                 id="returnDateInput"
                 formControlName="arrival_date">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="adultSelect" class="line-titles">
            Adults
          </label>
          <select id="adultSelect">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="childSelect" class="line-titles">
            Children
          </label>
          <select id="childSelect">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </form>
    </div>
    <div class="row">

    </div>
  </div>
</div>
